@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  max-height: 100vh;
}

header {
  text-align: center;
  line-height: 2rem;
  padding: 5rem 0 0 0;
}

header span {
  font-size: 0.9rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .btn-1 a {
  border: 1px solid orange;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  color: orange;
}

.btn-1 a:hover {
  color: black;
  background-color: orange;
}

header .btn-2 a {
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  background-color: orange;
  border: 1px solid orange;
  color: #000;
}

.btn-2 a:hover {
  background-color: transparent;
  color: orange;
}

header .top-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.profile-image img {
  width: 50%;
  max-width: 250px;
  min-width: 250px;
  border-radius: 10px;
  margin-top: 3rem;
}

#about-me {
 text-align: center;
 margin-top: 2rem;
}

section span {
  font-size: 0.9rem;
}

section h2 {
   font-weight: 200;
   font-size: 1.3rem;
   margin-top: 0.5rem;
   color: orange
}

.about-p {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
}

.about-p p {
  text-align: start;
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* @media (max-width:1000px){
  .about-p p {
    text-align: center;
    word-spacing: none;
  }

} */