@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0b0d0f;
  color: #fff;
  max-height: 100vh;
}

header {
  text-align: center;
  line-height: 2rem;
  padding: 5rem 0 0 0;
}

header span {
  font-size: 0.9rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .btn-1 a {
  border: 1px solid orange;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  color: orange;
}

.btn-1 a:hover {
  color: black;
  background-color: orange;
}

header .btn-2 a {
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  background-color: orange;
  border: 1px solid orange;
  color: #000;
}

.btn-2 a:hover {
  background-color: transparent;
  color: orange;
}

header .top-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.profile-image img {
  width: 50%;
  max-width: 250px;
  min-width: 250px;
  border-radius: 10px;
  margin-top: 3rem;
}

#about-me {
  text-align: center;
  margin-top: 3rem;
}

section span {
  font-size: 0.9rem;
}

section h2 {
  font-weight: 200;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: orange;
}

.about-p {
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
}

.about-p p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.social-handles {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-handles a {
  text-decoration: none;
}

.social-handles .contact {
  border: 1px solid orange;
  background-color: orange;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  color: #000;
}

.social-handles .contact:hover,
.social-handles .linkedin:hover {
  background: none;
  color: orange;
}

.social-handles .github {
  border: 1px solid orange;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  color: orange;
}

.social-handles .github:hover {
  background-color: orange;
  color: #000;
}

.social-handles .linkedin {
  border: 1px solid orange;
  background-color: orange;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px;
  color: #000;
}

#skill {
  width: 80%;
  margin: 4rem auto 6rem auto;
  padding-bottom: 2rem;
}

#skill h2 {
  text-align: center;
  margin-top: 0.5rem;
}

#skill span {
  display: flex;
  justify-content: center;
}

.frontend,
.design {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 300px;
  border: 1px solid rgb(255, 153, 0);
  background-color: #2c2c2c;
  padding: 1rem 2em 2em 2em;
  border-radius: 10px;
}

.frontend p,
.design p {
  text-align: center;
  color: orange;
  font-size: 20px;
}

#skill ul {
  margin-top: 1rem;
  font-size: 1rem;
  margin-left: 40%;
}

#skill li {
  margin: 0 auto;
}

#skill li::marker {
  content: "✔";
  color: orange;
}

.frontend:hover,
.design:hover {
  border: 1px solid #fff;
}
